<div class='carousel'>

    <ul>
        {{# each item in content}}
        <li>
            <img {{bind-attr src=item.thumbnailUrl}} {{action 'overlayItem' item}}>
        </li>
        {{/each}}
    </ul>

    {{#if isLeftScrollable}}
    <a href="#" class="carousel-control left" {{action 'scrollLeft'}}>
        <span class='glyphicon glyphicon-chevron-left'></span>
    </a>
    {{/if}} {{#if isRightScrollable}}
    <a href="#" class="carousel-control right" {{action 'scrollRight'}}>
        <span class='glyphicon glyphicon-chevron-right'></span>
    </a>
    {{/if}}
</div>

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <img {{bind-attr src='currentItem.url' }} class='image-in-modal'>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
